body{
    background-color: rgb(3, 3, 49);
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.line{
    background-color: bisque;
    height: 1px;
}
.addbook{
    position: relative;
    left: 43%;
    width: 30%;
}




@media only screen and (max-width:786px){
    body{
        background-color: rgb(66, 1, 66);
        color: bisque;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 
    .line{
        background-color: bisque;
        height: 1px;
    }
    .addbook{
        position: relative;
        left: 23%;
    }
    
}